@font-face {
    font-display: swap;
    font-family: 'gilroyBold';
    src: url(/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-display: swap;
    font-family: 'gilroyLight';
    src: url(/fonts/Gilroy-Light.otf);
}

html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

:root {
    color: #142251;
    --special-color: #989EB1;
    font-style: normal;
    font-family: 'gilroyLight';
    font-weight: 400;
    font-size: 62.5%;
}

body {
    background: #FFF;
}

.container {
    padding: 0 2rem;
}

h1 {
    /* font-size: 4rem; */
    font-size: calc(32px + (68 + 68 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 85%; /* 34px */
    font-weight: 400;
    letter-spacing: -0.16rem;
    margin-bottom: 2rem;
}

img {
    display: block;
}

h2 {
    font-size: calc(32px + (68 + 68 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 85%; /* 34px */
    font-weight: 400;
    letter-spacing: -0.16rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: calc(20px + (10 + 10  * 0.7) * ((100vw - 320px) / 1920));
    font-weight: 400;
    line-height: 90%; /* 18px */
    letter-spacing: -0.08rem;
}

p {
    font-size: calc(14px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    line-height: 100%; /* 14px */
    letter-spacing: -0.056rem;
    font-family: 'gilroyLight';
}

a {
    font-size: calc(12px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: solid 1px #E0E2E8;
    position: sticky;
    top: 0px;
    background-color: #FFF;
    z-index: 1;
}

.header-button {
    display: none;
}

.wrapper {
    display: none;
}

.menu {
    border: none;
    background-color:#FFF;
    width: 2.5rem;
    height: 0.9rem;
}

.menu-big {
    display: none;
}

.logo {
    width: 13.2rem;
    height: 1.9rem;
}

.header-button {
    display: none;
}

.dashboard{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "links grafic";

}

.links{
    padding-top: 1rem;
    grid-area: links;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.graf{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-area: grafic;
    justify-content: center;
    padding-bottom: 3rem;
}

.largbocks{
    grid-column: 1/-1;
}

.smallbocks{
    grid-column: span 2;
}

.mediumbocks{
    grid-column: span 3;
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px, 1fr));
    padding-bottom: 3rem;
    justify-content: center;
    justify-items: center;
}

.item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: span 1;
    max-width: 100%;
    border-radius: 8px;
    align-items: center;
}

.itemimg{
    grid-column: -1/1;
    grid-row-start: 1;
    max-width: 180px;
    max-height: 180px;
}

.itema{
    background-color: #989EB1;
    padding: 10px 20px;
    grid-column: -1/1;
    grid-row-start: 1;
}

.footer {
    border-top: solid 1px #E0E2E8;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.footer-cntcts {
    display: none;
}

.footer-separate {
    display: flex;
    align-items: center;
}

.footer-img {
    margin-right: 2.4rem;
}

.footer-a {
    font-size: calc(34px + (5 + 5 * 0.7) * ((100vw - 320px) / 1920));
    font-weight: 900;
    text-decoration: none;
    color: #142251;
}
.footer-cntcts .footer-separate:last-child .footer-a {
    text-decoration: underline;
    color: #213887;
}

.footer-politics {
    color: var(--special-color);
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: -0.024rem;
    text-decoration-line: underline;
    width: 13.2rem;
}

.footer-designer {
    color: #213887;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: -0.024rem;
    text-decoration-line: underline;
    width: 11.3rem;
}

.footer-date {
    color: var(--special-color);
    font-weight: 600;
    line-height: 100%; /* 12px */
    letter-spacing: -0.048rem;
    font-size: calc(12px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
}

@media screen and (min-width: 900px) {
    .footer {
        font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 320px) / 1920));
    }
}

@media screen and (min-width: 1300px) {
    :root {
        font-family: 'gilroyLight';
        font-weight: 600;
        line-height: 100%; /* 20px */
        letter-spacing: -0.06rem;
        color: #142251;
        text-decoration-line: none;
    }
    .menu-big {
        display: flex;
        column-gap: 3.4rem;
    }
    .menu-itms {
        font-family: 'gilroyLight';
        font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 320px) / 1920));
        font-weight: 600;
        line-height: 100%; /* 20px */
        letter-spacing: -0.06rem;
        color: #142251;
        text-decoration-line: none;
    }
    .logo {
        width: 24.3rem;
        height: 3.3rem;
    }
    .header {
        height: 7.4rem;
        align-items: center;
    }
    .container {
        padding: 0 4.9rem;
    }
}

@media screen and (min-width: 1450px) {
    h1 {
        font-size: calc(100px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    }
    h2 {
        font-size: calc(100px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    }
    h3 {
        font-size: calc(34px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
        font-weight: 600;
    }
    p {
        font-size: calc(30px + (10 + 10 * 0.7) * ((100vw - 320px) / 1920));
    }
    .wrapper {
        display: initial;
    }
    .header {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 4rem;
        border-bottom: solid 1px #E0E2E8;
        position: sticky;
        top: 0px;
        background-color: #FFF;
        height: 10.8rem;
    }
    .header-button {
        display: flex;
        width: 10.3em;
        font-size: calc(20px + (5 + 5 * 0.7) * ((100vw - 320px) / 1920));
        justify-content: space-between;
        align-items: center;
        border: 0;
        font-weight: 600;
        line-height: 100%; /* 14px */
        letter-spacing: -0.042rem;
        color: #213887;
        font-family: 'gilroyLight';
        background-color: white;
    }
    .menu {
        display: none;
    }
    .footer {
        padding: 5rem 0 6.7rem 0;
    }
    .footer-politics {
        width: 30rem;
    }
    
    .footer-designer {
        width: 30rem;
    }
    
    .footer-date {
        width: 10rem;
    }
}

@media screen and (min-width: 1860px) {
    .footer-cntcts {
        display: flex;
        padding: 30px 40px;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        border-radius: 100px;
        border: 1px solid #AFB4C4;
    }
    .container {
        padding: 0 6rem;
    }
}
@media screen and (min-width: 2200px) {
    .container {
        padding: 0 8rem;
    }
    .footer-date {
        width: 17rem;
    }
    .footer-politics {
        width: 45rem;
    }
    .footer-designer {
        width: 45rem;
    }
    .menu-big {
        column-gap: 10rem;
    }
}

@media screen and (min-width: 3800px) {
    .footer-politics {
        width: 50rem;
    }
    .footer-designer {
        width: 50rem;
    }
    .menu-big {
        column-gap: 18rem;
    }
}