@font-face {
    font-display: swap;
    font-family: 'gilroyBold';
    src: url(/fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-display: swap;
    font-family: 'gilroyLight';
    src: url(/fonts/Gilroy-Light.otf);
}

:root {
    color: #142251;
    --special-color: #989EB1;
    font-style: normal;
    font-family: 'gilroyLight';
    font-weight: 400;
    font-size: 62.5%;
}

body {
    background: #FFF;
}

.container {
    max-width: 144rem;
    margin: 0 2rem;
}

h1 {
    font-size: 4rem;
    line-height: 85%; /* 34px */
    font-weight: 400;
    letter-spacing: -0.16rem;
    margin-bottom: 2rem;
}

img {
    display: block;
}

h2 {
    font-size: 4rem;
    line-height: 85%; /* 34px */
    font-weight: 400;
    letter-spacing: -0.16rem;
    margin-bottom: 2rem;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 90%; /* 18px */
    letter-spacing: -0.08rem;
}

p {
    font-size: 1.4rem;
    line-height: 100%; /* 14px */
    letter-spacing: -0.056rem;
    font-family: 'gilroyLight';
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: solid 1px #E0E2E8;
}

#menu {
    border: none;
    background-color:#FFF;
    width: 2.5rem;
    height: 0.9rem;
}

#logo {
    width: 13.2rem;
    height: 1.9rem;
}

.gray {
    color: var(--special-color);
}

.gray1 {
    color: var(--special-color);
    font-size: 1.4rem;
    line-height: 100%; /* 14px */
    letter-spacing: -0.042rem;
    font-weight: 400;
}

.button1 {
    position: relative;
    display: flex;
    width: 33.5rem;
    height: 6rem;
    padding: 2.4rem 1.7rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: rgba(33, 56, 135, 0.06);
    border: 0;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
    letter-spacing: -0.042rem;
    color: #213887;
    font-family: 'gilroyLight';
}

.button2 {
    display: flex;
    width: 27.5rem;
    height: 6rem;
    padding: 2.4rem 3rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    border-radius: 1.2rem;
    background: #142251;
    border: 0;
    color: #FFF;
    font-size: 1.4rem;
    line-height: 100%; /* 14px */
    letter-spacing: -0.042rem;
    font-family: 'gilroyLight';

}

.buttons {
    height: 4rem;
    padding: 1.3rem 2rem 1.3rem 2rem;
    border-radius: 8.9rem;
    border: 1px solid;
    border-color: #142251;
    background-color: #F3F6F9;
    color: #142251;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 14px */
    letter-spacing: -0.042rem;
    font-family: 'gilroyLight';
    white-space: nowrap;
}

.section-hero {
    background-image: url('/svg/bg1.svg');
    background-repeat: no-repeat; 
    background-position-x: right;
    background-position-y: center;
    padding: 2rem 0 6.7rem 0;
}

.section-hero-h {

}

.section-hero-p {
    
}

.section-hero-btn {
    margin-top: 32.6rem;
}

.section-hero-svg {
    width: 2.1rem;
    height: 2.1rem;
}

.section-services {
    background: #F3F6F9;
    border-radius: 3rem;
    padding: 3rem 0 3rem 0;
}

.section-services-h {
    
}

.section-services-p {
    margin-bottom: 2rem;
}

.section-services-btns {
    display: flex;
}

.services-list-item:not(:last-child) {
    margin-right: 1rem;
}

.section-services-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.section-services-card {
    height: 51.7rem;
    flex-shrink: 0;
    border-radius: 3rem;
    background: #FFF;
    margin-right: 0.5rem;
    padding: 1rem 0 0 0;
}

.section-services-pic {
    width: 31.5rem;
    height: 19.4rem;
    margin: 0 1rem 0 1rem;
}

.section-services-h3 {
    margin-top: 3.1rem;
    margin-bottom: 3rem;
}

.section-services-itms {
    padding-left: 3rem;
}

.section-services-pp {
    margin-bottom: 1rem;
}

.section-services-block {
    align-content: end;
}

.section-services-btn {
    margin: 0 3rem 0 3rem;
    align-self: flex-end;
}

.section-services-plus {
    width: 2.2rem;
    height: 2.2rem;
}

.section-work {
    margin: 5rem 0 5rem 0;
}

.section-work-h {

}

.section-work-list {
    margin-top: 3rem;
}

.section-work-list-item {
    border: solid 1px #B7BBC9;
    border-radius: 1rem;
    padding-left: 3rem;
    margin-bottom: 1rem;
    height: 13.4rem;
    max-width: 45.4rem;
}

.item-num {
    margin-left: 93.5%;
    margin-top: 2%;
    color: #B7BBC9;
}

.card-elem {
    display: flex;
    vertical-align: middle;
}

.card-elem-h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%; /* 24px */
    letter-spacing: -0.06rem;
    margin-left: 5.4rem;
    margin-top: 2rem;
    max-width: 13.6rem;
}

.section-clients {
    background: #F3F6F9;
    border-radius: 3rem;
    margin: 5rem 0 2rem 0;
    padding: 5rem 2rem 2rem 0;
    background-image: url('/svg/graphic.svg');
    background-repeat: no-repeat; 
    background-position-x: right;
    background-position-y: bottom;
}

.section-clients-h{
    margin-bottom: 2rem;
}

.section-clients-crds {
    align-items: center !important;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}


.section-clients-el {
    border-radius: 2rem;
    background: #FFF;
    flex-shrink: 0;
    width: 16.2rem;
    height: 16rem;
}

.section-clients-el-img {
    width: 7.2rem;
    height: 7.2rem;
    margin-top: 1rem;
    margin-left: 7.8rem;
}

.section-clients-h3 {
    margin-left: 1.7rem;
    margin-top: 4rem;
}

.section-clients-pic {
    width: 26rem;
    height: 25.2rem;
    margin-left: 11.5rem;
}

.section-form {
    margin-top: 5rem;
}

.section-form-f {
    display: grid;
    margin-top: 3rem;
}

.section-form-lbl {
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: -0.06rem;
    font-family: 'gilroyLight';
    margin-bottom: 0.9rem;
}

.section-form-inpt {
    max-width: 50rem;
    margin-bottom: 3rem;
    border: none;
    border-bottom: 1px solid #989EB1;
    background-color: transparent;
    color: #989EB1;
    outline: none;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 20px */
    letter-spacing: -0.06rem;
    font-family: 'gilroyLight';
}

.section-form-prmsn {
    display: inline-flex;
}

.section-form-permission {
    width: 1.8rem;
    height: 1.8rem;
}

.section-form-prmsn-lbl {
    margin-left: 1rem;
}

.section-form-btn {
    margin: 3rem 0 7rem 0;
    align-items: center !important;
}

.footer {
    border-top: solid 1px #E0E2E8;
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}

.footer-politics {
    width: 13.2rem;
    color: var(--special-color);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: -0.024rem;
    text-decoration-line: underline;
}

.footer-designer {
    width: 11.3rem;
    color: #213887;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 130%; /* 15.6px */
    letter-spacing: -0.024rem;
    text-decoration-line: underline;
}

.footer-date {
    color: var(--special-color);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 100%; /* 12px */
    letter-spacing: -0.048rem;
}